@import '_theme.scss';

.hover-text-secondary {
	transition: all 0.1s ease-in-out;
	&:hover {
		fill: $danger !important;
	}
}

.hover-bg-secondary {
	&:hover {
		background-color: lighten($secondary, 10%) !important;
	}
}

.cursor-pointer {
	cursor: pointer;
}

.end-5 {
	right: 5px !important;
}
.end-10 {
	right: 10px !important;
}

.end-15 {
	right: 15px !important;
}

.end-20 {
	right: 20px !important;
}

.end-25 {
	right: 25px !important;
}

.min-vh-25 {
	min-height: 25vh;
}

.min-vh-50 {
	min-height: 50vh;
}

.min-vh-75 {
	min-height: 75vh;
}

.min-vh-sm-100 {
	@include media-breakpoint-up(sm) {
		min-height: 100vh;
	}
}

.min-vh-md-100 {
	@include media-breakpoint-up(md) {
		min-height: 100vh;
	}
}

.no-gutter-row {
	padding-left: 0 !important;
	padding-right: 0 !important;
	margin-left: 0 !important;
	margin-right: 0 !important;
}

// translate

.translate-x-100 {
	transform: translateX(100%);
}
.translate-x--100 {
	transform: translateX(-100%);
}
.translate-y-100 {
	transform: translateY(100%);
}
.translate-y--100 {
	transform: translateY(-100%);
}

.translate-x-0 {
	transform: translateX(0);
}

// position

.position-fixed-sm-down {
	@include media-breakpoint-down(lg) {
		position: fixed;
	}
}
