// _theme.scss

// Define your custom colors
$white: #ffffff;
$rich-black: #071418;
$dark-yellow: #fccc17;
$black: #000000;
$kiwi-green: #64d800;
$racing-red: #d80000;

//primary, secondary, etc. colors
$primary: $white;
$secondary: $dark-yellow;
$dark: $black;
$success: $kiwi-green;
$danger: $racing-red;

$additional-colors: (
	'muted': #ededed,
);

//  theme colors map
$theme-colors: (
	'primary': $primary,
	'secondary': $secondary,
	'dark': $dark,
	'success': $success,
	'danger': $danger,
);

$theme-colors: map-merge($theme-colors, $additional-colors);

//additional styling
$body-color: $black;
$link-color: $black;
$nav-link-color: $black;
