@import 'bootstrap/scss/functions';
@import 'bootstrap/scss/variables';

// Define your custom colors
$white: #ffffff;
$dark-yellow: #fccc17;
$black: #000000;
$kiwi-green: #64d800;
$racing-red: #d80000;

// Primary, secondary, etc. colors
$primary: $white;
$secondary: $dark-yellow;
$dark: $black;
$success: $kiwi-green;
$danger: $racing-red;

$theme-colors: (
	'primary': $primary,
	'secondary': $secondary,
	'success': $success,
	'danger': $danger,
);

$additional-colors: (
	// Foreground Colors
	'foreground': #ededed,
	'foreground-dark': #d5d5d5,
	'foreground-light': #dadada,

	// Border Colors
	'border': #dcdcdc,
	'border-lighter': #0000003b,
	'border-light': #707070,
	'border-dark': #7070708b,
	'border-darker': #0000005c,

	// Text Colors
	'text-muted': #00000065,

	// Form Colors
	'input-border': #7070708b,
	'input-bg': #e5e5e5,

	// Header & Navigation
	'header': #eaeaea,
	'nav': #071418,

	// Checkbox
	'checkbox-bg': #3e3e3e,

	// Button
	'button-muted': #dcdcdc
);

@each $name, $color in $additional-colors {
	.text-#{$name} {
		color: $color !important;
	}

	.border-#{$name} {
		border-color: $color !important;
	}

	.bg-#{$name} {
		background-color: $color !important;
	}
}

// Additional styling
$body-color: $black;
$text-color: $black;
$link-color: $black;
$nav-link-color: $black;
